<div class="container">
  <div class="page">
    <div class="person">
      <div class="person-photo">
        <img src="assets/avatar.png" alt="" class="person-avatar">
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Contact</b>
          <hr/>
        </div>
        <div class="person-section__box">
          <p><b>Phone</b></p>
          <p><a href="tel:+7-707-171-8160" class="link">+7 (707) 171 81-60</a></p>
        </div>
        <div class="person-section__box">
          <p><b>Email</b></p>
          <p><a href="mailto:umekovazamat@gmail.com" class="link">umekovazamat@gmail.com</a></p>
        </div>
        <div class="person-section__box">
          <p><b>Address</b></p>
          <p><a href="https://maps.google.com/?ll=43.2567,76.9286" class="link" target="_blank" >Kazakhstan, Almaty</a></p>
        </div>
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Education</b>
          <hr/>
        </div>
        <div class="person-section__box">
          <p>2015 - 2018</p>
          <p><b>Информатика</b></p>
          <p><a href="https://www.instagram.com/almaty.university/" class="link">Университет "Алматы"</a></p>
        </div>
        <div class="person-section__box">
          <p>2010 - 2013</p>
          <p><b>Техник - программист</b></p>
          <p><a href="http://www.tkaim.kz/" class="link">Талгарский колледж агробизнеса и менеджмента</a></p>
        </div>
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Expertise</b>
          <hr/>
        </div>
        <ul>
          <li>UI/UX</li>
        </ul>
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Language</b>
          <hr/>
        </div>
        <div class="person-section__box">
          <p><b>English</b></p>
          <p><b>Kazakh</b></p>
          <p><b>Russian</b></p>
        </div>
      </div>
      <div class="person-expertise"></div>
      <div class="person-language"></div>
    </div>
    <div class="person-career">
      <div class="person-name">
        <h1 ><b>Azamat</b> Omekov</h1>
       <p>Software engineer</p>
       <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nesciunt alias rem neque quia asperiores officiis sunt ad? A repudiandae repellendus deleniti ratione tempora sed perspiciatis et dolorum officia ipsum.
       </span>
      </div>
      <div class="person-experience">
        <div>     
          <b class="person-section__name">Experience</b>
          <hr/>
        </div>
        <div>
          <div class="flow"></div>
          div
        </div>
      </div>
    </div>
  </div>
</div>