<div class="container">
  <div class="page">
    <div class="person">
      <div class="person-photo">
        <img src="assets/avatar.png" alt="" class="person-avatar">
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Contact</b>
          <hr/>
        </div>
        <div class="person-section__box">
          <p><b>Phone</b></p>
          <p><a href="tel:+7-707-171-8160" class="link">+7 (707) 171 81-60</a></p>
        </div>
        <div class="person-section__box">
          <p><b>Email</b></p>
          <p><a href="mailto:umekovazamat@gmail.com" class="link">umekovazamat@gmail.com</a></p>
        </div>
        <div class="person-section__box">
          <p><b>Address</b></p>
          <p><a href="https://maps.google.com/?ll=43.2567,76.9286" class="link" target="_blank" >Kazakhstan, Almaty</a></p>
        </div>
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Education</b>
          <hr/>
        </div>
        <div class="person-section__box">
          <p>2018</p>
          <p><b>Информатика</b></p>
          <p><a href="https://www.instagram.com/almaty.university/" class="link">Университет "Алматы" (Высшее)</a></p>
        </div>
        <div class="person-section__box">
          <p>2013</p>
          <p><b>Вычислительная техника, Программист-техник</b></p>
          <p><a href="http://www.tkaim.kz/" class="link">ТКАИМ колледж</a></p>
        </div>
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Expertise</b>
          <hr/>
        </div>
        <ul>
          <li>UI/UX</li>
        </ul>
      </div>
      <div class="person-section">
        <div>     
          <b class="person-section__name">Language</b>
          <hr/>
        </div>
        <div class="person-section__box">
          <p><b>English-B2</b></p>
          <p><b>Kazakh</b></p>
          <p><b>Russian-C1</b></p>
        </div>
      </div>
      <div class="person-expertise"></div>
      <div class="person-language"></div>
    </div>
    <div class="person-career">
      <div class="person-name">
        <h1 ><b>Azamat</b> Omekov</h1>
       <p>Software engineer</p>
       <span>
        Интересуюсь новыми технологиями в сфере IT постоянно. Совершенствую свои профессиональные знания и личные навыки. Целеустремленный, исполнительный, ответственный, умею работать в команде, а также адаптироваться к новым условиям. Концентрироваться на поставленной задаче, иногда внимательный к деталям и разным кейсом. Свободное время хайкингом по горам Алматы. Увлекаюсь бегом, теннисом, футболом. Предпочитаю активный вид отдыха.       </span>
      </div>
      <div class="person-experience">
        <div>     
          <b class="person-section__name">Experience</b>
          <hr/>
        </div>
        <div class="experience-info">
          <div class="experience-flow">
            <div class="point"></div>
            <div class="vertical"></div>
          </div>
          <div class="experience-text">
            <div>Апрель 2021 — апрель 2022 (1 год 1 месяц)</div>
            <div>ТОО MyCar Group</div>
            <div>Expert</div>
            <div>Алматы, mycarpro.kz/

              Информационные технологии, системная интеграция, интернет
              
              Интернет-компания (поисковики, платежные системы, соц.сети, информационно-познавательные и развлекательные ресурсы, продвижение сайтов и прочее)
              Разработка программного обеспечения
              Системная интеграция, автоматизации технологических и бизнес-процессов предприятия, ИТ-консалтинг
              Backend Developer (Golang/Python)
              Одна из успешных StartUp по Системе автоматизации бизнес процессов. Использует все Дилерские центры из разных регионов РК. Такие как Hyundai, Toyota, Mycar, Bavaria, Astana Motors.
              
              - Научился работать по методологии SCRUM по 2-недельными спринтами;
              - Ознакомился бизнес процессами по авто сфере (продажа/покупка);
              - Разработал оценка и дальнейшая покупка автомобиля;
              - Разработал первичный осмотра, диагностика выгрузка Отчеты состояние автомобиля;
              - Интеграция с mycar.kz для объявления автомобиля;
              - Интеграция сайтами дилерского центра для продажи;
              - Разработал парсер kolesa.kz для рыночной стоимости авто;
              - Участвовал дальнейшая проектирования MycarPro. Добавили заказ новых машин ДМС;
              - Более ближе познакомился чистой архитектурой, чистом кодом, git flow;
              
              - Postgres; Redis; MongoDB;
              - REST API; JSON; CRUD; Swagger; RMQ;
              - Golang; Python3 Django;
              - VueJS;
              - Repository; Clean architecture; Unit testing;
              - Golang libs: GORM; GIN;</div>
          </div>
        </div>
        <div class="experience-info">
          <div class="experience-flow">
            <div class="point"></div>
            <div class="vertical"></div>
          </div>
          <div class="experience-text">
            <div>2019 - 2023</div>
            <div>Company Name</div>
            <div>Expert</div>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ad sint placeat officia commodi repudiandae illum quibusdam in illo totam non perspiciatis sequi soluta accusantium, repellat veritatis dignissimos. Voluptas, quas.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>